body {
  background-color: white;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* Font section */

.site_font {
  font-family: "Roboto Condensed", sans-serif;
}

.site_font.bold {
  font-weight: 700;
}

.site_font.light {
  font-weight: 300;
}

.site_font.regular {
  font-weight: 400;
}

.site_alt_font_one {
  font-family: cursive;
  font-size: 24px;
}

.site_alt_font_two {
  font-size: 24px;
}

.white {
  color: rgb(255, 255, 255);
}

/* Banner */

#bannertitle {
  font-size: 7vw;
  text-align: center;
  color: black;
  background-color: #4282d6;
}

.banner_title {
  margin-top: 0%;
  background-color: #4282d6;
  padding-top: 10%;
}

#bannerImageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: #4282d6;
}

#bannerClouds {
  width: 100%;
  margin-top: 50%;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#bannerSkydiver {
  width: 45%;
  position: absolute;
  margin-left: 30%;
  margin-top: 15%;
}

#disciplinesSection {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  margin-top: -1%;
  position: relative;
  width: 100%;
}

#disciplinesTitle {
  text-align: center;
  margin-top: 15%;
  font-size: 6vw;
}

#disciplines {
  -ms-box-orient: horizontal;
  display: -moz-flex;
  display: flex;
  /* flex-direction: column-reverse; */
  /* flex-wrap: wrap; */
  justify-content: center;
  margin-top: 10%;
  padding-bottom: 5%;
  height: 50%;
}

.disciplines_pair {
  display: flex;
  flex-direction: row;
  /* width: 3s0%; */
}

.discipline_title {
  text-align: center;
  color: #4282d6;
}

.disciplines_box {
  margin-left: 2%;
  margin-top: 2%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.diver_image {
  width: 50%;
  margin-left: 25%;
}

#disciplinesBorder {
  margin-top: 2%;
  height: 11vw;
  background-color: black;
  display: flex;
  justify-content: space-around;
}

#disciplinesText {
  padding-top: 1%;
  font-size: 4vw;
  text-align: center;
  position: relative;
}

span {
  color: #4282d6;
}

#loaderContainer {
  width: 100%;
}

#loader {
  width: 10%;
  align-self: center;
}

#infoSection {
  background-color: white;
  width: 90%;
  height: 70vw;
  padding: 5% 2% 5% 5%;
  font-size: 2vw;
  line-height: 1.6;
}

#lowerLogo {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 10%;
}

#uspa {
  width: 15vw;
  height: 15vw;
  margin-bottom: 5%;
  margin-right: 5%;
  min-width: 80px;
}

@media only screen and (max-width: 1000px) {
  #disciplines {
    flex-direction: column;
    width: 50%;
    height: 75%;
    align-self: center;
  }
}

@media only screen and (max-width: 600px) {
  #disciplines {
    height: 170%;
  }

  .disciplines_pair {
    flex-direction: column;
  }

  .disciplines_box {
    padding-top: 10%;
  }
}
