body {
  background-color: #4282d6;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

/* Font section */

.site_font {
  font-family: "Roboto Condensed", sans-serif;
}

.site_font.bold {
  font-weight: 700;
}

.site_font.light {
  font-weight: 300;
}

.site_font.regular {
  font-weight: 400;
  font-size: 8vw;
}

.site_alt_font_one {
  font-family: cursive;
  font-size: 24px;
}

.site_alt_font_two {
  font-size: 24px;
}

/* Site Banner */

#bannerTitle {
  margin-top: 12%;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  font-size: 6em;
}

#rarefied {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.font_color_change {
  color: blanchedalmond;
}

#airHelmet {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.helmet {
  width: 10%;
  max-width: 10%;
  max-height: 10%;
  min-width: 131px;
  min-height: 147px;
  margin-left: 5px;
}

#skydivingSchool {
  display: flex;
  justify-content: center;
}

.skydiving_school {
  margin-top: 8px;
}

.diamond {
  color: blanchedalmond;
  padding: 8px;
}

#pageDownButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 12%;
  position: relative;
  cursor: pointer;
}

#pageDown {
  width: 4%;
}
#mainGraphicContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-top: 20%;
}

#mainGraphic {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#mainGraphicImage {
  width: 100%;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
}

#titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  margin-top: 15%;
  position: absolute;
}

.title_text {
  font-size: 6em;
  position: relative;
  z-index: 2;
  margin-left: 0px;
  margin-top: 0px;
}

.wings {
  margin-left: 30px;
}

#lowerGraphicContainer {
  position: relative;
  z-index: 0;
  display: flex;

  justify-content: center;
}

#lowerTitleContainer {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 35%;
  width: 500px;
  text-align: center;
}

#lowerTitle {
  z-index: 2;
  margin-top: 0px;
  width: 100%;
  font-size: 1.5vw;
}

p3 {
  font-weight: bold;
}

#buttonGroup {
  width: 100%;
  height: 60%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  z-index: 1;
}

.button_container {
  width: 25%;
  height: 90%;
  border: 2px solid rgb(194, 185, 185);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button_group_text {
  font-weight: bold;
  font-size: 1.5vw;
  width: 75%;
  text-align: center;
  margin-left: 12%;
  margin-top: 5%;
}
.skydiver_image {
  width: 60%;
  margin-left: 20%;
}

.shrink {
  width: 45%;
  margin-left: 30%;
  margin-bottom: 10%;
}

.start_button {
  width: 75%;
  height: 17%;
  background-color: #4282d6;
  border-radius: 5px;
  margin-left: 13%;
  margin-top: 1%;
  margin-bottom: 5%;
  display: flex;
  text-align: center;
  justify-content: space-around;
  cursor: pointer;
}

.black {
  position: absolute;
  margin-top: 35%;
  margin-left: 0.5%;
  height: 8%;
  width: 22%;
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding: 0%;
}

p2 {
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-top: 5%;
  font-size: 2vw;
}

#find {
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-top: 5%;
  margin-left: 15%;
  font-size: 2vw;
}
#dropPin {
  height: 60%;
  margin-top: 3%;
  margin-left: 0%;
  position: stickys;
}

#joinTheTeem {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#join {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 4vw;
}

.diamond {
  height: 80%;
  margin-top: 1%;
}

#joinVideo {
  margin-top: 3%;
}

#footerTop {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 10%;
}

.footerImage {
  width: 33.3%;
  height: 100%;
}

/* Footer Section */

#footerContainer {
  width: 100%;
  background-color: rgb(248, 248, 248);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 6vw;
}
#footerLeft {
  width: 20%;
  min-width: 20%;
}

#footerLogo {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

#footerhelmet {
  width: 30%;
  height: 90%;
  margin-left: 5%;
  margin-top: 2%;
}

#footerRight {
  width: 100%;
  margin-left: 20%;
  display: flex;
  justify-content: flex-end;
}

#socialLogos {
  cursor: pointer;
  width: 20%;
}

#socialImage {
  width: 33%;
  height: 60%;
  margin-left: 2%;
  margin-top: 2%;
}

p5 {
  color: #4282d6;
}

/* MOBILE DESIGN */

@media only screen and (max-width: 800px) {
  #mainGraphicContainer {
    background-color: rgb(255, 255, 255);
    margin-top: 50%;
  }

  #mainGraphic {
    margin-left: -30%;
    margin-bottom: 90%;
    background-color: rgb(255, 255, 255);
  }

  #lowerTitle {
    display: none;
  }

  #buttonGroup {
    margin-left: 60%;
    margin-top: -55%;
    flex-direction: column;
  }

  .button_container {
    margin-top: 2%;
    width: 50%;
    height: 180%;
    border: 2px solid rgb(194, 185, 185);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .button_group_text {
    font-size: 2.5vw;
  }

  .skydiver_image {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .shrink {
    margin-bottom: 0%;
    margin-bottom: 2%;
  }

  .black {
    margin-top: 30%;
    margin-left: 10%;
    height: 17%;
    width: 25%;
  }

  #find {
    margin-top: 2%;
    margin-left: 15%;
    font-size: 3vw;
  }

  p2 {
    margin-top: 1%;
    font-size: 4vw;
  }

  .skydiving_school {
    margin-top: 3%;
  }

  #footerTop {
    display: none;
  }
}
