body, html {
  padding: 0px;
  margin: 0px;
  background-color: #4282d6 ;
}

/* Colors */

/* primary_blue: #4282d6 */
/* button_shadow_1: rgba(85, 85, 85, 0.24) */
/* button_shadow_2: rgba(0, 0, 0, 0.19) */
/* gray: rgb(194, 185, 185) */

/* Font section */

.site_font {
  font-family: "Roboto Condensed", sans-serif;
   margin: 0;
}

.site_font.bold {
  font-weight: 700;
}

.site_font.light {
  font-weight: 300;
}

.site_font.regular {
  font-weight: 400;
  font-size: 8vw;
}

.site_alt_font_one {
  font-family: cursive;
  font-size: 24px;
}

.site_alt_font_two {
  font-size: 24px;
}

.font_color_change {
  color: white;
}

.bold {
  font-weight: bold;
}

.button_group_text {
  font-weight: bold;
  font-size: 1.5vw;
  text-align: center;
}

.button_font {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 2vw;
}

.title_text {
  font-size: 6em;
}

.lower_title {
  font-size: 1.5vw;
  line-height: 2.3vw;
  text-align: center;
}

.find {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

/* Site Banner */

#bannerContainer {
  background-color: #4282d6;
  padding-top: 12%;
  padding-bottom: 25%;
}

#bannerTitle {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  font-size: 10vw;
}

#rarefied {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#airHelmet {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.helmet {
  width: 15%;
  height: 17%;
  max-width: 100px;
  max-height: 120px;
  margin-left: 3%;
}

#skydivingSchool {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 3%;
}

.skydiving_school {
  margin: 0 1%;
  font-size: 3vw;
  color: #FFF;
  font-weight: 100;
}

.diamond_white {
  color: #FFF;
  font-size: 2vw;
}

#pageDownButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 17%;
  position: relative;
  cursor: pointer;
}

#pageDown {
  width: 6%;
}

/* Main Page Content */

#mainGraphicContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
}

#mainGraphic {
  display: flex;
  flex-direction: column;
}

#mainGraphicImage {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3%;
  position: relative;
  z-index: 2;
}

/* Content Title */

#mainGraphicTitleContainer {
  margin-top: -15%;
  padding-bottom: 5%;
}

#lowerTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Button Section */

#buttonGroupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  position: relative;
}

#buttonGroup {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Button Box */

.button_container {
  border: 2px solid rgb(194, 185, 185);
  display: flex;
  align-content: end;
  justify-content: space-evenly;
  align-items: center;
  padding: 2%;
  flex-direction: column;
}

.skydiver_image {
  width: 70%;
  height: 100%;
  max-height: 90px;
  max-width: 120px;
  padding: 10%;
}

.button {
  width: 75%;
  height: 17%;
  min-height: 40px;
  background-color: #4282d6;
  border-radius: 5px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: box-shadow 0.8s ease;
}

.button_effect:hover {
  background-color: #85a7e7;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(85, 85, 85, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#dropzoneButton {
  margin-top: 7%;
  width: 35%;
  max-width: 250px;
  min-height: 40px;
  background-color: black;
  display: flex;
  align-items: center;
  padding: 0.5%;
  transition: none;
}

#dropPin {
  width: 10%;
  min-width: 20px;
  margin-top: 1%;
  margin-left: 4%;
}

/* Bottom Cloud */

#lowerGraphicContainer {
  position: relative;
  z-index: 1;
}

#lowerGraphic {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -30%;
}

/* Call To Action - Join the Team */

#joinContainer {
  width: 100%;
  background-color: #4282d6;
}

#joinTheTeem {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#join {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

#joinTitle {
  margin: 0 2%;
  font-size: 4.5vw;
}

.diamond_black {
  font-size: 3vw;
}


#joinVideo {
  max-width: 90%;
  margin: 6% auto;
}

/* Footer */

#footerTop {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #4282d6;
}

.footerImage {
  width: 33.3%;
  height: 100%;
}

/* MOBILE DESIGN */

@media only screen and (max-width: 800px) {
  #bannerTitle {
    font-size: 14vw;
  }

  .button_container {
    width: 25%;
  }
}

@media only screen and (max-width: 500px) {
  #bannerTitle {
    font-size: 4em;
  }

  .button_group_text {
    font-size: 2.4vw;
  }

  .lower_title {
    font-size: 2.3vw;
    line-height: 3.7vw;
  }

  #buttonGroup {
    flex-direction: column;
    align-items: center;
  }

  .button_container {
    width: 50%;
    margin: 3% 0;
  }

  .button_font {
    font-size: 3vw;
  }

  #footerTop {
    display: none;
  }
}
